data/*
!data/ignore_sites.txt
/tmp
/data/*
!/data/ignore_sites.txt
*.code-workspace
*/_obsolete
*/*.log
*.log
*/data/*
_obsolete

.vscode/*
.claude/*
.github/*
.mcp.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.playwright-mcp